# Environment Variables Example for Mandé Héritage Platform

DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="mande_heritage_secret_key_2026_super_secure"
NEXTAUTH_URL="http://localhost:3000"

# Optional Cloud / Payment Integrations
NEXT_PUBLIC_APP_URL="http://localhost:3000"
